body{
    background-color: rgb(230, 246, 248);
    text-align: center;
    
}
h1{
    /* text-align: center; */
    font-size: 5rem;
    /* font-family: Arial, Helvetica, sans-serif; */
}
input{
    background-color: rgb(255, 255, 255);
    border: 2px dotted black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5rem;
}
button{
    background-color: rgb(0, 69, 243);
    border: 2px solid rgb(0, 0, 0);
    color:white;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li{
    font-size: 1.5rem;
    text-align: center;
}