body {
  font-family: 'Segoe UI', sans-serif;
  background: #000000;
  margin: 11rem;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  background: #4367df;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

h1 {
  color: #000000;
}

#question {
  font-size: 20px;
  margin-bottom: 20px;
}

#options {
  list-style: none;
  padding: 0;
}

#options li {
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

#options li:hover {
  background: #ffffff;
}

#next-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #000000;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #000000;
}
